<body>
    <div class="container" fxLayout="column" fxLayout.xs="column">
        <div class="text">
            Questo progetto ha lo scopo di raccogliere e registrare i consumi delle casette abitative del nuovo campus universitario di 
            Camerino meglio noto come campus Montagnano. <br>
            Per farlo abbiamo creato una pagina chiamata "Appartameti" in cui potrete vedere e selezionare qualsiasi appartamento numerato in
            file e numeri, aprendolo vedrate in tempo reale i consumi che questo appartamento ha registarto nel tempo e avrete la
            possibilità di selezionare un range preciso di date e orari da visionare.<br>
            La registrazione dei consumi viene fatta di tutti gli apparecchi presenti nelle abitazioni, ad esempio:<br>
            <ul>
                <li>Forno</li>
                <li>Frigo</li>
                <li>Piastra</li>
                <li>Luci</li>
                <li>Cappa</li>
                <li>Ecc...</li>
            </ul>

            In allegato il link per scaricare il documento in cui sono riportati i singoli consumi di ogni apparecchio.<br>
            <a href="../../../assets/doc.pdf">Clicca qui per visualizzare il file.</a><br><br>

            Con la speranza che possa essere di aiuto e che possa permettere di risparmiare consumi inutili, controllare ed intervenire
            in caso di guasti ad apparecchi per un mondo piu verde.<br><br>

            IoTeam 
        </div>
    </div>
</body>
