<mat-card>
    <mat-card-title>Login </mat-card-title>
    <mat-card-content>
        <form action="" method="" [formGroup]="loginForm" (ngSubmit)="login()">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="email" formControlName="email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                  <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </p>

            <p class="error" *ngIf="error==true"> Username o Password errati.</p>

            <div class="button">
                <button type="submit" mat-button>Login</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>