<mat-card>
    <mat-card-title>Login </mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <p>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="text" matInput placeholder="name@example.com" formControlName="email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input [type]="visible ? 'text' : 'password'" matInput formControlName="password">
                    <mat-icon matSuffix (click)="visible = !visible">{{ visible ? 'visibility' : 'visibility_off' }}</mat-icon>
                </mat-form-field>
            </p>

            <p class="error" *ngIf="error==true"> Username o Password errati.</p>

            <div class="button">
                <button type="submit" mat-button>Login</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>